<!DOCTYPE html>
<html>

<head>
    <link href="bootstrap.min.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
    <meta charset="utf-8" />
    <title>Simpa</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.0/dist/chart.min.js"></script>
</head>

<body>
    <div class="container">
        <a href="/" ><h1 class="d-inline-block">Simpa</h1></a> <a href="/sites">Sites</a>

    {{> @partial-block }}

    </div>
    <script src="main.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
</body>

</html>